body {
	text-align: center;
}


#game_canvas {
	border:solid 1px black;
}

#game_rank ul {
	display: inline-block;
}

#ask_user_name {
	/* itself */
	position: fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	/* content */
	text-align: center;
}



@media screen and (max-width: 1081px) {
	#game_canvas {
		width: 100%;
	}

	#ask_user_name {
		/* itself */
		position: fixed;
		width: 50%;
		height: 25%;
		top: 20%;
		left: 50%;
		margin-top: -10%;
		margin-left: -25%;
		/* content */
		text-align: center;
	}

	#game_rank {
		visibility: hidden;
	}

	#game_ui {
		visibility: hidden;
	}


}
